body {
    background-color: #2d2d2d;
}
h1, h2, h3 {
    font-family: "Biko", "Helvetica", "Arial", "sans-serif";
}
#main {
    min-height: 100%;
}

h3 {
    display: inline-block;
    border: 4px solid #085c91;
    border-radius: 2px;
    padding: 5px;
    color: var(--dark-white);
}
h3:hover {
    color: white;
    background-color: #085c91;
}

p, td, th, span {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}
p:not(:first-child) {
    text-indent: 1em;
}

table {
    margin: 8px auto;
    border-collapse: collapse;
}
table tr {
    height: 40px;
}
table td, table th {
    border: 1px solid var(--mid-gray);
    padding: 8px;
}
table tr:nth-child(even) {background-color: var(--gray);}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #085c91;
    color: white;
}

#classes td:nth-child(1), #classes td:nth-child(3), #classes th:nth-child(1), #classes th:nth-child(3){
    text-align: center;
}
#classes td:nth-child(2) {
    width: 400px;
}

#content {
    margin: 10px auto;
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section {
    max-width: 500px;
    margin: 20px;
    width: 600px;
}

.section p {
    font-size: 20px;
    line-height: 1.35em;
}

.experience {
    margin: 30px 10px;
    display: flex;
}

.experience img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.exp-desc {
    margin-left: 17px;
}

.exp-desc .position {
    font-size: 1.3em;
    font-weight: 100;
}

.company {
    display: inline-block;
    margin-top: 1px;
    font-size: 1.07em;
    font-weight: 500;
    font-style: italic;
}

.timeline {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    margin-top: 8px;
    color: var(--mid-gray);
}


@font-face {
    font-family: Biko;
    font-weight: normal;
    src: url("../fonts/Biko_Regular.otf") format("opentype");
}
@font-face {
    font-family: Biko;
    font-weight: bold;
    src: url("../fonts/Biko_Bold.otf") format("opentype");
}