body {
    margin: 0px;
    background-color: #f0f0f0;
    font-family: "Arial", "sans-serif";
}
h1 {
    font-family: "Helvetica", "Arial", "sans-serif";
}
a {
    text-decoration: underline;
    color: #469fb3;
}

#about{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
#about p {
    text-align: justify;
    font-size: 16px;
    margin: 0 20px;
}


#photoTitle {
    text-align: center;
    margin-bottom: 0;
}
#description {
    margin: 0;
}
#dotContainer {
    margin: auto;
    text-align: center;
}
.dot {
    background-color: #999999;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    
    margin: 5px;
    display: inline-block;
}
#photos img {
    display: none;
    margin: 0 auto;
    height: 270px;
}