body {
    margin: 0px;
    background-color: #f0f0f0;
    font-family: "Arial", "sans-serif";
}

.projBox {
    width: 250px;
    height: 250px;
    max-width: 80vw;
    max-height: 80vw;
    background-color: black;
}